.Sides{
    width: 20%;
    height: 100%;
    background:transparent;
    display: flex;
    flex-flow: column;
    position: fixed;
    top: 50px;
    left: 0;
    align-items: center;
    text-align: center;
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}